packages/
.vs/
TechnoWorld_API/bin/
TechnoWorld_API/obj/
TechnoWorld_Cash/bin/
TechnoWorld_Cash/obj/
TechnoWorld_Terminal/bin/
TechnoWorld_Terminal/obj/
TechnoWorld_WarehouseAccounting/bin/
TechnoWorld_WarehouseAccounting/obj/
TechoWorld_DataModels/bin/
TechoWorld_DataModels/obj/
MaterialNotificationLibrary/bin/
MaterialNotificationLibrary/obj/
TechnoWorld_CashSetup/Debug
TechnoWorld_CashSetup/Release
TechnoWorld_WarehouseAccouningSetup/Debug
TechnoWorld_WarehouseAccouningSetup/Release
TechnoWorld_TerminalSetup/Debug
TechnoWorld_TerminalSetup/Release

